body {
    margin: 0 auto;
    max-width: 75%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #404040;
    background-color: #ffffe6;
}

h1 {
    padding-top: 2%;
    color: #293d3d;
    font-size: 1.7em;
}

a:link {
    color: #06490f;
    text-decoration: dotted;
}

a:visited {
    color: #800000;
}

a:hover {
    color: #2b3cdbc9;
    text-decoration: underline;
}

#text {
    max-width: 50em;
    margin: 0 auto;
}

img.icon {
    width: 5%;
    height: 5%;
    margin-top: 1%;
}

img.profil {
    max-width: 75%;
    min-width: 20%;
    display: block;
    margin: 0 auto;
}

img.ilustrace {
    max-width: 75%;
    min-width: 20%;
    display: block;
    margin: 1% auto;
    border: 1px solid #293d3d;
}

.menu {
    margin: 1% auto;
    padding: 0;
    background-color: #293d3d;
    max-width: 60%;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    padding: 20px 20px;
    color: #ffffe6;
    text-decoration: none;
}

.menu a:hover {
    background-color: #348d40
}